<h1>UsersController#show</h1>

<div class="row">
	<div class="large-4 columns right">
		<table>
	  <thead>
	    <tr>
	      <th>Floorplan</th>
	      <th>Description</th>
	      <th>Location</th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
		<tbody>
		<%= render partial: "surkles/surkle", locals: { surkles: @user.surkles }%>
		</tbody>
	</div>
</div>
