<p>
  <strong>Name:</strong>
  <%= @icon.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @icon.image %>
</p>

<%= link_to 'Edit', edit_icon_path(@icon) %> |
<%= link_to 'Back', icons_path %>
